[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = ">=4.15.0"
pandas = "*"
openpyxl = "*"
undetected-chromedriver = ">=3.5.4"
setuptools = "*"
selenium-stealth = "*"

[dev-packages]

[requires]
python_version = "3.12"
